---
import { Image } from 'astro:assets';

import BrandbeatLogoOnlyWhite from './images/brandbeat_logo_only_white.avif'

// Unsplash Images
import DowntownCity from './images/unsplash_downtown_city.avif'
import BlackAndWhiteHand from './images/unsplash_black_and_white_hand.avif'
import BlackAndWhiteMeeting from './images/unsplash_black_and_white_meeting.avif'
import Typewriter from './images/unsplash_typewriter.avif'
import FistBump from './images/unsplash_fistbump.avif'
import Instagram from './images/instagram.avif'
import LinkedIn from './images/linkedin.avif'
---

<div fs-scrolldisable-element="smart-nav" class="navbar_hero-white">
    <div class="navbar_block padding_40_lr">
      <div class="block_left">
        <a href="index.html" aria-current="page" class="w-inline-block w--current"><Image width="64" height="64" id="w-node-_9bf00c28-2f82-9e4b-93d7-28a29509acae-9509acaa" alt="" src={BrandbeatLogoOnlyWhite} loading="lazy" class="bb_logo" height="64" width="64" /></a>
      </div>
      <div class="block_right">
        <a href="index.html" aria-current="page" class="nav_link hide w--current">HOME</a>
        <a href="about.html" class="nav_link hide">ABOUT</a>
        <a href="services.html" class="nav_link hide">services</a>
        <a href="blog.html" class="nav_link hide">Blog</a>
        <a href="contact-us.html" class="nav_link hide">cONTACT</a>
        <div class="menu_container">
          <div data-w-id="8e08a110-4f7b-55ba-45d4-713d14b8cdcd" class="nav_menu-btn-wrapper">
            <div class="nav_menu-close hide">
              <div class="nav_menu-xr"></div>
              <div class="nav_menu-xl"></div>
            </div>
            <div class="nav_menu-open">
              <div class="nav-line-1"></div>
              <div class="nav-line-2"></div>
              <div class="nav-line-3"></div>
              <div class="nav-line-4"></div>
            </div>
          </div>
          <div data-w-id="8e08a110-4f7b-55ba-45d4-713d14b8cdd6" class="nav_menu-hover-cont">
            <div class="nav_location-text">4551 Zimmerman Avenue, Niagara Falls, ON, L2E3M5</div>
            <div class="nav_menu-content">
              <div data-w-id="8e08a110-4f7b-55ba-45d4-713d14b8cdda" class="flex_nav">
                <div class="flex is--nav">
                  <a href="index.html" aria-current="page" class="large_nav-item w-inline-block w--current">
                    <div class="col_inner">
                      <div class="menu_header">Home</div>
                      <div class="overlay"></div><Image sizes="100vw" alt="" src={DowntownCity} loading="lazy" class="nav_link-bg-img">
                    </div>
                  </a>
                  <a data-w-id="8e08a110-4f7b-55ba-45d4-713d14b8cde2" href="about.html" class="large_nav-item w-inline-block">
                    <div class="col_inner">
                      <div class="menu_header">about</div>
                      <div class="overlay"></div><Image sizes="100vw" alt="" src={BlackAndWhiteHand} loading="lazy" class="nav_link-bg-img">
                    </div>
                  </a>
                  <a data-w-id="8e08a110-4f7b-55ba-45d4-713d14b8cde8" href="services.html" class="large_nav-item w-inline-block">
                    <div class="col_inner">
                      <div class="menu_header">services</div>
                      <div class="overlay"></div><Image sizes="100vw" alt="" src={BlackAndWhiteMeeting} loading="lazy" class="nav_link-bg-img">
                    </div>
                  </a>
                  <a data-w-id="8e08a110-4f7b-55ba-45d4-713d14b8cdee" href="blog.html" class="large_nav-item w-inline-block">
                    <div class="col_inner">
                      <div class="menu_header">blog</div>
                      <div class="overlay"></div><Image sizes="100vw" alt="" src={Typewriter} loading="lazy" class="nav_link-bg-img">
                    </div>
                  </a>
                  <a href="contact-us.html" class="large_nav-item w-inline-block">
                    <div class="col_inner">
                      <div class="menu_header">contact</div>
                      <div class="overlay"></div><Image sizes="100vw" alt="" src={FistBump} loading="lazy" class="nav_link-bg-img">
                    </div>
                  </a>
                </div>
              </div>
              <div class="nav_menu-hover-footer">
                <div class="nav_sublink-wrap">
                  <a href="mailto:support@brandbeat.ca" class="c-nav-social-contact-item-link w-inline-block">
                    <div class="nav-social-contact-item-link-text default">support@brandbeat.ca</div>
                    <div class="nav-social-contact-item-link-text focus">support@brandbeat.ca</div>
                  </a>
                  <a href="tel:905-749-4858" class="c-nav-social-contact-item-link w-inline-block">
                    <div class="nav-social-contact-item-link-text default">905-749-4858</div>
                    <div class="nav-social-contact-item-link-text focus">905-749-4858</div>
                  </a>
                  <div class="nav_location-text bottom">Brand Beat Inc., Canada</div>
                </div>
                <div class="nav_social-wrapper">
                  <a href="https://instagram.com/brandbeatmarketing" target="_blank" class="social_icon blue w-inline-block"><Image width="20" loading="lazy" alt="" src={Instagram} class="social_icon-image">
                    <div class="social_circle"></div>
                  </a>
                  <a href="https://www.linkedin.com/company/brandbeatmarketing" target="_blank" class="social_icon blue w-inline-block"><Image width="20" loading="lazy" alt="" src={LinkedIn} class="social_icon-image">
                    <div class="social_circle"></div>
                  </a>
                </div>
              </div>
            </div><Image loading="lazy" src={BrandbeatLogoOnlyWhite} height="64" width="64" alt="" class="nav_menu-logo-2">
          </div>
          <div fs-scrolldisable-element="when-visible" class="menu-bg unhidden"></div>
        </div>
      </div>
    </div>
  </div>